<ion-view>
    <ion-nav-title>
        <h1 class="title">Rango Delivery - Login</h1>
    </ion-nav-title>
    <ion-content class="padding">
        <form name="form" ng-submit="login()">
            <div class="list list-inset">
                <i class="ion-email"></i> E-mail:
                <label class="item item-input">
                    <input type="email" placeholder="seu-email@email.com" name="username" ng-model="user.username" required="required">
                </label>
            </div>
            <div class="list list-inset">
                <i class="ion-locked"></i> E-mail:
                <label class="item item-input">
                    <input type="password" placeholder="******" name="password" ng-model="user.password" required="required">
                </label>
            </div>
            <button type="submit" class="button button-full button-assertive ion ion-android-person"> Login</button>
        </form>
        <div class="text-center row assertive">
            <div class="col">
                <h5 >
                    <a ui-sref="guest.remember_pass" class="button button-outline button-assertive border-remove">
                        <i class="ion ion-android-lock"></i> Lembrar Senha
                    </a>
                </h5>

                <h5>
                    <a ui-sref="guest.user_add" class="button button-outline button-assertive border-remove" >
                        <i class="ion ion-android-person-add"></i> Cadastre-se
                    </a>
                </h5>
            </div>
        </div>
    </ion-content>
</ion-view>