<ion-view>
    <ion-nav-bar class="bar-assertive">
        <ion-nav-title>
            <h1 class="title">Cadastrar</h1>
        </ion-nav-title>
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <h6 class="title text-center " > preencha o formulário:</h6>
        <ion-list class="list" ng-include="'templates/client/includeEstabelecimentos/formUpdateUser.html'"></ion-list>
    </ion-content>
</ion-view>