<ion-view>
    <ion-nav-bar class="bar-assertive">
        <ion-nav-title>
            <h1 class="title">Rango Delivery</h1>
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding">
        <div class="row row-center">
            <div class="col">
                <h2>--------------</h2>
            </div>
        </div>
        <div class="row row-center">
            <div class="col">
                <a ui-sref="guest.location" class="button button-full button-assertive ion-ios-location"> Me encontre!</a>
                <a ui-sref="login" class="button button-full button-assertive ion-ios-locked"> Login</a>
            </div>
        </div>
    </ion-content>
</ion-view>