<ion-view>
    <ion-nav-title>
        <h1 class="title">Rango Delivery</h1>
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title text-center item-button-right assertive" >
            <b>
                <i class="icon ion-fork"></i>
                <i class="icon ion-knife"></i>
                 {{estabelecimento.nome}}
            </b>
            <button class="button button-clear button-icon ion-minus-circled padding-top " ng-show="items.length > 0" ng-click="showDelete = !showDelete" ng-class="{'button-assertive':showDelete,'button-dark':!showDelete}"></button>
        </h2>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list show-delete="showDelete">
            <ion-item class="item-divider">
                <i class="ion ion-android-cart"></i> <b>Carrinho</b>
            </ion-item>
            <ion-item ng-repeat="produto in items" ng-click="openProductDetail($index)">
                <div class="row">
                    <div class="col text-left">
                        <b>{{produto.qtd}}x {{produto.name}}</b><br />
                        <p>{{produto.description}}</p>
                    </div>
                    <div class="col text-right">
                        <span class="balanced padding-right">R${{produto.qtd*produto.price}}</span>
                        <i class="ion ion-ios-arrow-right"></i>
                    </div>
                </div>
                <ion-delete-button class="ion ion-minus-circled" ng-click="removeItem($index)"></ion-delete-button>
            </ion-item>
            <ion-item class="item-divider">
                <i class="icon ion-android-car"></i> Endereço de entrega
            </ion-item>
            <ion-item class="text-center">
                <button class="button button-clear button-dark button-icon ion-plus-circled" ng-click="goEntrega()"> Adcionar Endereço</button>
            </ion-item>
            <ion-item class="item-divider">
                <i class="icon ion-ios-pricetag"></i> Cupom
            </ion-item>
            <ion-item class="item-balanced item-icon-left" ng-show="cupom.value > 0">
                <span class="icon ion-close" ng-click="removeCupom()"></span>
                <strong>Cupom</strong>
                <span class="badge badge-balanced" >- R$ {{cupom.value}}</span>
            </ion-item>
            <ion-item class="text-center">
                <button class="button button-clear button-dark button-icon ion-plus-circled" ng-disabled="cupom.value  > 0" ng-click="readBarCode()"> Adcionar Cupom</button>
            </ion-item>
        </ion-list>
        <div class="card">
            <div class="item item-text-wrap">
                <h1 class="title assertive">
                    <i class="ion ion-android-cart"></i> Total   <br />
                </h1>
                <b>Subtotal</b>: R$ {{subtotal}} <br />
                <b>Taxa de entrega:</b> R$ {{cart.taxa}}<br />
                <b>Desconto:</b> R$ {{cart.cupom.value}}<br />
                <span class="balanced">
                    <b>R$ {{total+cart.taxa}}</b>
                </span>
            </div>
        </div>
        <button class="button button-assertive button-full" ng-click="save()"> Finalizar Pedido</button>
    </ion-content>
    <div class="fixed-bottom-right">
        <div class="text-right">
            <button class="button button-assertive circle" ng-click="goPaymentForm()">
                <i class="ion ion-card"></i>
            </button>
        </div>
    </div>
</ion-view>