<ion-view>
    <ion-nav-title>
        <h1 class="title">Onde quero meu Rango?</h1>
    </ion-nav-title>
    <ion-tabs class="tabs-striped tabs-top tabs-background-assertive tabs-color-light ">
        <ion-tab title="CEP">
            <ion-view>
                <ion-content class="padding ">
                    <div class="">
                        <label class="item item-input">
                            <span class="input-label">
                                <i class="ion ion-ios-location"></i> CEP :
                            </span>
                            <input type="text"  ng-model="client.zipcode">
                        </label>
                        <button class="padding button button-assertive button-full" ng-click="getCep()">
                            Pesquisar
                        </button>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="ENDEREÇO" >
            <ion-view class="padding">
                <ion-content class="padding ">
                    <ion-list>
                        <ion-item class="item custom-form item-borderless padding-right item-input item-stacked-label">
                            <div class="row remove-padding">
                                <div class="col">
                                     <span class="input-label">
                                        <i class="icon ion-ios-email-outline"></i> Cidade *:
                                    </span>
                                    <input type="text" ng-model="address.cidade" ng-disabled="true" name="cidade" placeholder="Cidade *:" required>
                                </div>
                                <div class="col">
                                     <span class="input-label">
                                        <i class="icon ion-ios-email-outline"></i> Estado *:
                                    </span>
                                    <input type="text" ng-model="address.estado" ng-disabled="true" name="estado" placeholder="Estado *:" required>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item custom-form item-borderless padding-right item-input item-stacked-label">
                            <span class="input-label">
                                <i class="icon ion-ios-email-outline"></i> Local (Rua, Quadra, Etc...)*:
                            </span>
                            <input type="text" ng-model="address.logradouro" name="logradouro" placeholder="Local (Rua, Quadra, Etc...)" required>
                        </ion-item>
                        <ion-item ng-repeat="endereco in enderecos" ng-click="setLocationAddress(endereco.cep)">
                            <div class="row">
                                <div class="col text-left">
                                    {{endereco.bairro}}<br />
                                    <p>
                                        {{endereco.logradouro}} <br>
                                        {{endereco.localidade}} / {{endereco.uf}}
                                    </p>
                                </div>
                                <div class="col text-right">
                                    <span class="balanced padding-right">{{endereco.cep}}</span>
                                    <i class="ion ion-ios-arrow-right"></i>
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item item-borderless">
                            <button class="padding button button-assertive button-full" ng-click="addressPosition()">
                                <i class="icon ion-location"></i> Localizar meu Rango
                            </button>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="LOCALIZAÇÃO">
            <ion-view class="padding">
                <ion-content class="padding ">
                    <button class="button button-assertive button-full" ng-click="getPosition()"> <i class="icon ion-location"></i> Ativar Localização</button>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>