<ion-view>
    <ion-nav-title>
        <h1 class="title">Meus Rangos</h1>
    </ion-nav-title>
    <ion-tabs class="tabs-striped tabs-top tabs-background-assertive tabs-color-light ">
        <ion-tab title="ANDAMENTO" >
            <ion-view class="padding">
                <ion-content class="padding ">
                    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
                    <ion-list>
                        <ion-item ng-repeat="item in items|filter:{status:0}" class="item-thumbnail-left"  ng-click="showActionSheet(item)" ng-include="'templates/client/includeEstabelecimentos/pedidoList.html'"></ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="CONCLUÍDOS">
            <ion-view class="padding">
                <ion-content class="padding ">
                    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
                    <ion-list>
                        <ion-item ng-repeat="item in items|filter:{status:1}" class="item-thumbnail-left"  ng-click="showActionSheet(item)" ng-include="'templates/client/includeEstabelecimentos/pedidoList.html'"></ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="CANCELADOS">
            <ion-view class="padding">
                <ion-content class="padding ">
                    <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
                    <ion-list>
                        <ion-item ng-repeat="item in items|filter:{status:2}" class="item-thumbnail-left"  ng-click="showActionSheet(item)" ng-include="'templates/client/includeEstabelecimentos/pedidoList.html'"></ion-item>
                    </ion-list>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
</ion-view>