<ion-view>
    <ion-nav-title>
        Top Mais Delivery - Pedido
    </ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">
            Pedido: #{{order.id}} Total: R$ {{order.total}}
        </h2>
    </div>
    <ion-content  class="padding has-subheader">
        <ion-list>
            <div class="item item-divider">
                Data da Compra {{order.created_at.date|limitTo:10|date:'dd/MM/yyyy'}}
            </div>
            <ion-item ng-repeat="item in order.items.data">
                <h2 class="">
                    {{item.product.data.name}}
                </h2>
                <div class="row">
                    <div class="col">
                        QTD: {{item.qtd}} <br />
                        <i class="ion ion-cash"> {{item.price}}</i>
                    </div>
                    <div class="col">
                        <i class="ion ion-social-usd"> {{item.qtd* item.price}}</i>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>